# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/staticfiles/
media/
*.mo

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env
*.env

# Mac/Linux
.DS_Store
*.swp
